In [1]:
import numpy as np

In [6]:
arr1=np.array([1,2,3,4,5])
arr2=np.array([6,7,8,9,10])

In [7]:
arr1+arr2

array([ 7,  9, 11, 13, 15])

In [10]:
arr2*2 #its called scaler multiplication because we multiplied a vector by a scaler and it increases vector length in same
       #direction

array([12, 14, 16, 18, 20])

In [11]:
arr1*arr2 #this vecot multiplication because it both are vector after multication the created new vector in new direction

array([ 6, 14, 24, 36, 50])

In [13]:
arr1>3 #easy #peasy

array([False, False, False,  True,  True])

In [17]:
arr3=np.arange(6).reshape(3,2)
arr4=np.arange(6,12).reshape(2,3)

In [18]:
#we can do dot product of 2-d arrays
arr3.dot(arr4) #it will return 3*3 matrix

array([[ 9, 10, 11],
       [39, 44, 49],
       [69, 78, 87]])

In [19]:
arr4.dot(arr3)

array([[46, 67],
       [64, 94]])

In [20]:
arr1.dot(arr2) #because both are 1-d arrays

130

In [21]:
arr4

array([[ 6,  7,  8],
       [ 9, 10, 11]])

In [22]:
arr4.max()

11

In [23]:
arr4.min()

6

In [24]:
arr4.max(axis=0) #axis=0 represent column 
#it will return maximum of each column

array([ 9, 10, 11])

In [25]:
#same for row axis=1
arr4.max(axis=1)

array([ 8, 11])

In [26]:
arr4.sum()

51

In [27]:
arr4.sum(axis=0)

array([15, 17, 19])

In [28]:
arr4.sum(axis=1)

array([21, 30])

In [30]:
arr4.mean() #you can it also for both columns and rows seperately

8.5

In [31]:
arr4.std()#you can it also for both columns and rows seperately

1.707825127659933

In [35]:
np.median(arr4)#you can it also for both columns and rows seperately like = np.median(arr4,axis=0)

8.5

In [37]:
np.sin(arr4) #it gives the sin vale of each element

array([[-0.2794155 ,  0.6569866 ,  0.98935825],
       [ 0.41211849, -0.54402111, -0.99999021]])

In [43]:
np.exp(arr4) #return exponent of each value

array([[  403.42879349,  1096.63315843,  2980.95798704],
       [ 8103.08392758, 22026.46579481, 59874.1417152 ]])

In [44]:
np.sqrt(arr4)

array([[2.44948974, 2.64575131, 2.82842712],
       [3.        , 3.16227766, 3.31662479]])

In [45]:
np.log(arr4)

array([[1.79175947, 1.94591015, 2.07944154],
       [2.19722458, 2.30258509, 2.39789527]])

In [ ]:
#day3 end